iomt-gateway-firmware-config/credentials/aws-iot-sdk/certificate.pem.crt
iomt-gateway-firmware-config/credentials/aws-iot-sdk/config.json
iomt-gateway-firmware-config/credentials/aws-iot-sdk/credentials.json
iomt-gateway-firmware-config/credentials/aws-iot-sdk/privateKey.pem.key
iomt-gateway-firmware-config/credentials/aws-iot-sdk/publicKey.pem.key
iomt-gateway-firmware-config/credentials/aws-sdk/config.json
iomt-gateway-firmware-config/credentials/aws-sdk/credentials.csv
iomt-gateway-firmware-config/credentials/credentials-api/config.json
*/.eslintrc.json
*/node_modules/
*/package-lock.json